@font-face {
    font-family: "Bungee";
    src: url(fonts/Bungee-Regular.ttf);

    font-family: "space grotesk";
    src: url(fonts/SpaceGrotesk-Regular.ttf);
}

/* o asterisco engloba todo o site, header footer, main etc. toda mudança no asterisco sera aplica em todo site */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

body {
    background-color: #A22FC2;
}

.container-grid {
    /* width: 1080px; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

header {

    height: 172px;

    background-color: #FCFCFC;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


.logo {
    width: 250px;


}

.menu {

    width: 650px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px;
}

.links-header {
    text-decoration: none;
    font-size: 18px;
    color: #A22FC2;
    text-transform: uppercase;
    font-family: "bungee";
}

/* border-radius: curvatura caixa
   display: flex; serve para utilizar o justif e o align
   justify-content: alinha o item verticalmente
   align-items: alinha horizontalmente; 
*/
.box-links {
    border: 3px solid #A22FC2;
    width: 150px;
    height: 40px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCFCFC;
    transition: background-color 0, 3s ease;
}

.box-links:hover {
    background-color: #e1d7e4;
}

.box-links {
    margin-right: 10px;
}

.campo-busca {
    position: relative;
}

.campo-busca img {
height: 20px;
    position: absolute;
    right: 10%;
    top: 50%;
    margin-top: -10px;
}

.favicon {
    width: 97.17px;

}

.sobre {

    width: 1200px;
    height: 250px;
    background-color: #fcfcfc;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;

}

.sobre h1 {
    text-align: center;
    font-family: "Bungee-Regular";
    font-size: 30px;
    color: #A22FC2;
    padding-top: 25px;
}

.sobre p {
    text-align: center;
    font-family: "space grotesk";
    font-size: 20px;
    color: #A22FC2;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 200px;
    padding-right: 250px;
}

#clientes {

    text-align: center;
    width: 1200px;
    height: 500px;
    background-color: #fcfcfc;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    padding: 10px;

}


.depoimentos {
    display: flex;
    justify-content: space-between;

}

.cliente img {
    width: 200px;

}

.cliente p {
    font-family: "space grotesk";
    font-size: 20px;
    padding-top: 12px;
    color: #A22FC2;

}

#logos-clientes {
    width: 1200px;
    height: 300px;
    background-color: #FCFCFC;
    border-radius: 20px;
    margin-top: 50px;

}


.imageclient img {
    width: 200px;
    padding-top: 20px;


}

.todos-logos-clientes {
    display: flex;
    justify-content: space-between;
    gap: 160px;
}

#cases {
    margin-top: 50px;
}

.container-cases {
    display: flex;
    flex-direction: row;
    gap: 150px;

}

.case {
    border: 3px solid chartreuse;
    height: 250px;
    width: 250px;
    background-color: #a0ecd0;
    box-shadow: 9px 6px 10px 0px rgba(0, 0, 0, 0.75);
    transition: background-color 0, 3s ease;
    transition: border 0, 3s ease;
}

.case:hover {
    background-color: #F2AC29;
    border: #F2AC29;
}

.case p {
    font-size: 30px;
    font-family: "bungee";
    text-align: center;
    padding-top: 60px;
    color: #11001c;
    line-height: 1.5;
}


#porquegamificar {
    margin-top: 50px;

}

.caixaporque {
    width: 1200px;
    height: 500px;
    background-color: #FCFCFC;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.caixaporque h1 {
    font-size: 40px;
    font-family: "bungee";
    text-align: center;
    color: #A22FC2;

}

.porque {
    border: 3px solid #11001C;
    height: 140px;
    width: 300px;
    background-color: #a0ecd0;
    box-shadow: 9px 6px 10px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.porque p {
    font-size: 30px;
    font-family: "bungee";
    text-align: center;
    line-height: 1.5;
}

.porquea {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-top: 40px;
}

.porqueb {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-top: 40px;
}


.caixaformulario {
    width: 1200px;
    height: 700px;

    border-radius: 20px;

    margin-top: 50px;

    display: flex;
    justify-content: space-between;
}

#formulario form {
    width: 600px;

    padding: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 20px;
    border: 3px solid #11001C;
    background-color: #a0ecd0;

    color: #11001C;
    font-family: "space grotesk";
    font-size: 17px;
}


.campo {
    width: 60%;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 10px;

}

.campo-descricao {
    width: 60%;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 50px;
}

.campo input {
    height: 40px;

    color: white;
    background-color: #FCFCFC;

    border: 3px solid #11001C;
    border-radius: 20px;

    text-indent: 10px;

    outline: none;
}

.campo-descricao textarea {
    color: white;
    background-color: #FCFCFC;

    border: 3px solid #11001C;
    border-radius: 20px;

    outline: none;

    padding: 10px;

    resize: none;

}

.campo label,
.campo-descricao label {
    margin-bottom: 1px;
}

.campo input,
.campo-descricao textarea {
    font-family: "space grotesk";
    font-size: 15px;
}

.campo input::placeholder,
.campo-descricao textarea::placeholder {
    color: #910909;
}

.campo input:focus,
.campo-descricao textarea:focus {
    outline: 2px solid var(#A22FC2);
}

#formulario form button {
    height: 40px;
    width: 60%;

    background-color: #F2AC29;
    color: #11001C;

    border: #11001C;
    border-radius: 20px;

    font-size: 17px;
    font-family: "bungee";
    font-weight: 700;
    /*bold*/

    text-transform: uppercase;
    /*caixa alta*/

    cursor: pointer;
    /*maozinha na seta*/

    transition: background-color 500ms;
    /*velocidade transicao do hover*/
    box-shadow: 9px 6px 10px 0px rgba(0, 0, 0, 0.35);
}

#formulario form button:hover {
    background-color: #8a5f0fca;

}

.videos {
    width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.caixabanner {

    width: 1200px;
    height: 343px;

    margin-top: 50px;
}

.logosfooter {
    width: 1200px;
    height: 500px;
    background-color: #a0ecd0;

    margin-top: 50px;

    border-radius: 20px;

    display: flex;
    justify-content: space-between;

    padding: 90px;
    padding-top: 70px;

    gap: 75px;

}

.nossasredes {

    font-family: "space grotesk";
    font-size: 30px;
    margin-bottom: 12px;

}

.logosfooter img {
    margin-bottom: 12px;
}

.endereco-fone-email p {
    font-family: "space grotesk";
    font-size: 30px;
    margin-bottom: 80px;

}


#direitos-reservados {
    width: 1200px;
    height: 50px;

    background-color: #a0ecd0;

    margin-top: 50px;
    margin-bottom: 50px;

    border-radius: 20px;



}

#direitos-reservados p {
    font-family: "space-grotesk";
    font-size: 22px;
    color: #A22FC2;

}


@media screen and (max-width: 1400px) {

    .logo {
        margin-left: 60px;
    }

    .favicon {
        margin-right: 60px;
    }

}

@media screen and (max-width: 1250px) {

    .menu {
        margin: 75px;
    }

}

@media screen and (max-width: 1080px) {

    .logo {
        margin-left: 10vw;
    }

    .favicon {
        margin-right: 10vw;
    }


    .menu {
        margin: 50px;
    }

    .sobre {
        width: 95vw;
    }

    #clientes {
        width: 95vw;
    }

    #logos-clientes {
        width: 95vw;
    }

    .caixabanner {
        width: 95vw;
    }

    .caixaporque {
        width: 90vw;
    }

    .logosfooter {

        width: 95vw;

    }

    #direitos-reservados {
        width: 95vw;
    }

    .caixaformulario {
        width: 95vw;
    }

    .caixabanner img {
        width: 97%;
    }

}


@media screen and (max-width: 800px) {

    header {
        height: 100px;
    }

    .logo {
        width: 115px;
    }

    .logo {
        margin-left: 12vw;
    }

    .menu {
        margin: 20px;
        gap: 10px;
    }

    .box-links {
        width: 125px;
        height: 30px;
    }

    .links-header {
        font-size: 15px;
    }

    .favicon {
        width: 55px;
    }

    .sobre p {
        font-size: 15px;
    }

    .cliente p {
        font-size: 15px;
    }

    .todos-logos-clientes {
        gap: 40px;
    }

    .container-cases {
        gap: 10px;
    }

    .caixabanner img {
        width: 100%;
    }

    .caixabanner {
        width: 100%;
    }

    .case {
        height: 200px;
        width: 200px;
    }

    .case p {
        font-size: 20px;
    }

    .container-cases {
        gap: 40px;
    }

    .videos iframe {
        width: 400px;
        height: 250px;
    }

    .porque p {
        font-size: 20px;
    }

    .porque {
        width: 200px;
    }

    .teste img {
        width: 200px;
    }

    #formulario form {
        padding: 10px;
    }

    .caixabanner {
        height: 228.66px;
    }

    .endereco-fone-email p {
        font-size: 18px;
    }

    .logosfooter .teste p {
        font-size: 15px;
    }

    .icones-redes a svg {
        width: 47px;
    }

    .logosfooter {
        height: 400px;
    }

    #direitos-reservados p {
        font-size: 18px;
    }
}

@media screen and (max-width: 700px) {

    header {
        height: 80px;
    }

    .logo {
        width: 90px;
    }

    .menu {
        margin: 10px;
        gap: 3px;
    }

    .box-links {
        width: 110px;
        height: 20px;
    }

    .links-header {
        font-size: 12px;
    }

    .favicon {
        width: 40px;
    }



    .sobre p {
        padding-left: 100px;
        padding-right: 100px;
    }

    .todos-logos-clientes {
        gap: 20px;
    }

    .container-cases {
        gap: 30px;
    }

    .porquea {
        gap: 10px;
    }

    .porqueb {
        gap: 10px;
    }

    .videos iframe {
        width: 300px;
        height: 200px;
    }

}

@media screen and (max-width: 520px) {

    header {
        height: 50%;
    }

    .logo {
        width: 60px;
    }

    .menu {
        margin: 10px;
        gap: 3px;
    }

    .box-links {
        width: 90px;
        height: 20px;
    }

    .links-header {
        font-size: 10px;
    }

    .favicon {
        width: 30px;
    }

    .cliente img {
        width: 150px;
    }

    .imageclient img {
        width: 150px;
        padding-top: 20px;
    }

    .case {
        height: 150px;
        width: 150px;
    }

    .case p {
        padding-top: 30px;
    }

    .container-cases {
        gap: 15px;
    }

    .porque {
        width: 135px;
        height: 120px;
    }

    .porque p {
        font-size: 15px;
    }
    
    .videos iframe {
        width: 150px;
        height: 90px;
    }

    .caixabanner img {
        width: 493,05px;
        height: 133,88px;
    }

    .caixabanner {
        width: 493,05px;
        height: 133,88px;
    }

    .caixabanner {
        height: 150px;
    }

    .teste img {
        width: 150px;
    }

    .icones-redes a svg {
        width: 30px;
    }

    .logosfooter {
        padding: 10px;
        gap: 40px;
    }

    .endereco-fone-email p {
        font-size: 16px;
    }

    #direitos-reservados p {
        font-size: 16px;
    }
    .logosfooter {
        padding-top: 50px;
    }

}

@media screen and (max-width: 400px) {

    header {
        height: 40%;
    }

    .logo {
        width: 60px;
    }

    .menu {
        margin: 2px;
        gap: 3px;
    }

    .box-links {
        width: 60px;
        height: 20px;
    }

    .links-header {
        font-size: 7px;
    }

    .sobre {
        margin-top: 20px;

    }

    .sobre p {
        padding-left: 60px;
        padding-right: 60px;
    }

    .sobre p {
        font-size: 15px;
    }

    .imageclient img {
        width: 110px;
        padding-top: 10px;
    }

    #logos-clientes {
        height: 200px;
    }

    .case {
        height: 110px;
        width: 110px;
    }

    .case p {
        padding-top: 20px;
    }

    .case p {
        font-size: 14px;
    }

    .caixaporque h1 {
        font-size: 30px;

    }

    .porque {
        width: 110px;
        height: 100px;
    }

    .porque p {
        font-size: 12px;
    }

    .cliente img {
        width: 120px;
    }

    #direitos-reservados p {
        font-size: 12px;
    }

    .endereco-fone-email p {
        font-size: 12px;
    }

    .campo-busca img {
        height: 10px;
        position: absolute;
        right: 20%;
        top: 50%;
        margin-top: -6px;
    }

    .caixaporque {
        height: 400px;
    }

    .logosfooter {
        height: 310px;
    }

    .logosfooter {
        padding-top: 25px;
    }

    #clientes {
        margin-top: 20px;
    }

    #logos-clientes {
        margin-top: 20px;

    }

    #cases {
        margin-top: 20px;
    }

    #porquegamificar {
        margin-top: 20px;
    }

    .caixaformulario {
        margin-top: 20px;
        flex-direction: column;
        height: unset;
    }

    .caixabanner {
       
        margin-top: 20px;
    }

    .caixabanner {
        height: 114.33px;
    }

    .logosfooter {
        padding-top: 20px;
    }

    #direitos-reservados {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    
    #formulario form {
        width: unset;
    }

    .videos {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        width: unset;
}

.videos iframe {
    width: 100%;
    height: 100%;
} 

}