@font-face {
    font-family: "Bungee";
    src: url(fonts/Bungee-Regular.ttf);

    font-family: "space grotesk";
    src: url(fonts/SpaceGrotesk-Regular.ttf);
}

/* o asterisco engloba todo o site, header footer, main etc. toda mudança no asterisco sera aplica em todo site */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}

body {
    background-color: #A22FC2;
}

.container-grid {
    width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

header {
    border: 1px solid greenyellow;
    height: 172px;
    
    background-color: #FCFCFC;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     
}

.logo {
    width: 250px;
    
   
}

.menu {
    border: 1px solid green;
    width: 650px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links-header {
    text-decoration: none;
    font-size: 18px;
    color: #A22FC2;
    text-transform: uppercase;
    font-family: "bungee";
}

/* border-radius: curvatura caixa
   display: flex; serve para utilizar o justif e o align
   justify-content: alinha o item verticalmente
   align-items: alinha horizontalmente; 
*/
.box-links {
    border: 3px solid #A22FC2;
    width: 150px;
    height: 40px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.favicon {
    width: 97.17px;
    

}

.sobre {
    border: 3px solid crimson;
    width: 1200px;
    height: 250px;
    background-color: #fcfcfc;
    margin: auto;
   margin-top: 50px;
   border-radius: 20px;
    
}

.sobre h1 {
    text-align: center;
    font-family: "Bungee-Regular";
    font-size: 30px;
    color: #A22FC2;
    padding-top: 25px;
}

.sobre p {
    text-align: center;
    font-family: "space grotesk";
    font-size: 20px;
    color: #A22FC2;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 200px;
    padding-right: 250px;
}

#clientes {
    border: 3px solid crimson;
    text-align: center;
    width: 1200px;
    height: 500px;
    background-color: #fcfcfc;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;

}

.depoimentos{
    display: flex;
    justify-content: space-between;
    
}

.cliente img {
    width: 200px;

}

.cliente p {
    font-family: "space grotesk";
    font-size: 20px;
    padding-top: 12px;
    color: #A22FC2;
}

#logos-clientes {
    width: 1200px;
    height: 300px;
    background-color: #FCFCFC;
    border-radius: 20px;
    margin-top: 50px;

}


.imageclient img{
    width: 200px;
    padding-top: 20px;
}

.todos-logos-clientes {
    display: flex;
    justify-content: space-between;
}








